In [1]:
import pynmea2

In [2]:
text = "$GPGGA,132510.000,3202.3863,N,11848.8702,E,2,9,0.93,86.1,M,5.2,M,0000,0000*54"
msg = pynmea2.parse(text)
msg.horizontal_dil

'0.93'

In [5]:
msg.geo_sep_units

'M'

In [6]:
import pandas as pd
import re
import os
import pynmea2

f = open(r'C:\Users\Zedd\Desktop\gps_data2.txt',encoding = 'utf-8')
list1 = []
list2 = []
list3 = []
list4 = []
list5 = []
list6 = []
list7 = []
list8 = []
list9 = []
list10 = []
list11 = []
list12 = []
list13 = []
lines = f.readlines()
for line in lines:
    if line.startswith('$GPGGA'):   #查找GPRMC
        msg = pynmea2.parse(line)   #解析GPRMC，并存储
        list1.append(msg.lat)
        list2.append(msg.lat_dir)
        list3.append(msg.lon)
        list4.append(msg.lon_dir)
        list5.append(msg.gps_qual)
        list6.append(msg.num_sats)
        list7.append(msg.horizontal_dil)
        list8.append(msg.altitude)
        list9.append(msg.altitude_units)
        list10.append(msg.geo_sep)
        list11.append(msg.geo_sep_units)
        list12.append(msg.age_gps_data)
        list13.append(msg.ref_station_id)
dic = {"lat":list1,"lat_dir":list2,"lon":list3,"lon_dir":list4,"gps_qual":list5,"num_sats":list6,"horizontal_dil":list7,"altitude":list8,"altitude_units":list9,"geo_sep":list10,"geo_sep_units":list11,"age_gps_data":list12,"ref_station_id":list13}
df = pd.DataFrame(dic)
df.insert(0,'GPS_data','$GPGGA')
df.to_excel(r'C:\Users\Zedd\Desktop\gps_parse.xlsx')
f.close()

In [42]:
a = pd.DataFrame(np.random.randint(1,100,(5,5)),columns=list('abcde'))
a

    a   b   c   d   e
0  46  51  27  44  70
1  60   7  62  49  33
2  21  11  96  30  61
3  71  89   1  39   1
4  45  20  72   9  13

In [50]:
a.insert(0,'aacss',"1"+"x")
a

  aacss aacs      aac aa   a   b   c   d   e
0    1x  1+x  '1'+'x'  1  46  51  27  44  70
1    1x  1+x  '1'+'x'  1  60   7  62  49  33
2    1x  1+x  '1'+'x'  1  21  11  96  30  61
3    1x  1+x  '1'+'x'  1  71  89   1  39   1
4    1x  1+x  '1'+'x'  1  45  20  72   9  13

In [7]:
import pandas as pd
df = pd.read_excel(r'C:\Users\Zedd\Desktop\GPS数据解析\gps_parse.xlsx')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1449 entries, 0 to 1448
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      1449 non-null   int64
 1   GPS_data        1449 non-null   object
 2   lat             1449 non-null   float64
 3   lat_dir         1449 non-null   object
 4   lon             1449 non-null   float64
 5   lon_dir         1449 non-null   object
 6   gps_qual        1449 non-null   int64
 7   num_sats        1449 non-null   int64
 8   horizontal_dil  1449 non-null   float64
 9   altitude        1449 non-null   float64
 10  altitude_units  1449 non-null   object
 11  geo_sep         1449 non-null   float64
 12  geo_sep_units   1449 non-null   object
 13  age_gps_data    1449 non-null   int64
 14  ref_station_id  1449 non-null   int64
dtypes: float64(5), int64(5), object(5)
memory usage: 169.9+ KB

In [20]:
df.lat.duplicated()

0       False
1        True
2        True
3        True
4        True
        ...
1444     True
1445     True
1446     True
1447     True
1448     True
Name: lat, Length: 1449, dtype: bool